<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex justify-content-between">
    <div><a class="navbar-brand" href="#">Users</a></div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="registration"
            >User Registration <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-user-dashboard> </app-user-dashboard>

<!-- <h3>Welcome to user dashboard  <a routerLink="registration">click me</a> to go to registration form</h3>


<router-outlet></router-outlet> -->
